/*
font-family: 'Crimson Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nobile', sans-serif;
*/
@font-face{
    font-family: "Amsdam Regular";
    src: url(../fonts/Amsdam\ Regular.ttf);
}

*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1700px;
}

/* Header */
.logo{
    font-weight: 500;
    padding-bottom: 5px;
    display: flex;
}
.logo-name {
    align-items: center;
    margin-top: 10px;
}
.logo img{
    width: 40px;
    height: 30px;
    padding-right: 14px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px ;
    height: 40px;
}
ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.menu {
    list-style: none;
    cursor: pointer;
    margin-left: 20px;
}


/* Social */

ul .social{
    height: 40px;
    width: 40px;
}
.soc > li{
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
    position: relative;
    cursor: pointer;
}
.soc > li::before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    background-color: #aaa;
}
.soc > li:first-child::before{
    display: none;
}
.soc > li > i{
    color: #aaa;
}



/* Content */
.content{
    height: 630px;
    background-image: url(../img/home-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.wrap{
    display: block;
    padding-top: 190px;
    padding-bottom: 200px;
    color:#fff;
    text-align: center;
}
.title{
    font-family: 'Amsdam';
    margin-top:62px;
    margin-bottom: 84px;
}
.discription {
    font-size: 14px;
    font-family: 'Crimson Text', serif;
}
.btn{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    border: 2px solid #fff;
    padding: 14px 24px 15px;
    transition: .4s;
}
.btn:hover{
    border: 2px solid #fff;
    background-color: #fff;
    color: #3e3d3d;
}

/* About Us */
.about{
    align-items: center;
    font-size: 14px;
    background-color: #e3e3e3;
    padding-top: 75px;
}
.about_text{
    font-family: 'Crimson Text', serif;
    margin-bottom: 50px;
    max-width: 1000px;
}
.button{
    color: #3e3d3d;
    text-decoration: none;
    font-size: 13px;
    border: 2px solid #3e3d3d;
    padding: 14px 24px 15px;
    transition: .4s;
}
.button:hover{
    border: 2px solid #3e3d3d;
    background-color: #3e3d3d;
    color: #aaa;
}
.bl{
    text-align: center;
    max-width: 1170px;
    background-color: #fff;
    padding-bottom: 50px;
}
.bl img{
    max-width: 100%;
}

.resul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1000px;
    align-items: center;
}
.label{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 270px;
    height: 160px;
    margin-bottom: 65px;
}
.label::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    background-color: #b0b0b0;
}
.label:first-child::before{
    display: none;
}
.ic img{
    width: 40px;
    height: 40px;
}
.resul div{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}
.short-title{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 70px;
}
.short-index{
    font-weight: bold;
    font-size: 30px;
}

/* Services */
.services{
    background-image: url(../img/services-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 750px;
}
.twho_title{
    font-family: 'Amsdam';
    margin-bottom: 50px;
    padding-top: 60px;
}
.twho_title, .about_text1{
    max-width: 1000px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
.about_text1{
    font-family: 'Crimson Text', serif;
}
.servis-info{
    padding-top: 70px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.short-text{
    max-width: 200px;
    max-height: 240px;
    text-align: center;
    color: #fff;
}
.servis-info h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100px;
    color: #fff;
}
.inner{
    max-height: 340px;
    border: 1px solid #898989;
    border-top: 0;
    padding: 20px 30px;
}
.inner i{
    margin-top: -35px;
    display: flex;
    align-items: center;
}
.inner::before, 
.inner::after {
    content: '';
    flex: 1 0 auto;
    height: 1px;
    background-color: #898989;
}
.fab,
.fas{
    color: #d8d8d8;
    width: 30px;
    height: 30px;
    margin: 0 25px;
}


/* Our Team */
.team{
    background-image: url(../img/our-team/our-team-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.color_text{
    color: #3e3d3d;
}
.cnt{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    max-width: 900px;
    padding-bottom: 60px;
}

.cards{
    width: 270px;
    height: 330px;
    position: relative;
}
.person_info{
    display: none;
    width: 250px;
    height: 310px;
    background-size: 250px 310px;
    background-color: rgba(204, 204, 204, .7);
}
.cards:hover .person_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #3e3d3d;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.prof{
    font-family: 'Crimson Text', serif;
}
.fab{
    color: #3e3d3d;
    width: 10px;
    height: 10px;
    margin: 5px;
}
/* Our Team */

/* Portfolio */
.photo_potrfolio{
    display: flex;
    max-height: 700px;
}
.filter button{
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #3e3d3d;
    text-decoration: none;
    font-size: 13px;
    background-color: #fff;
    border: 2px solid #3e3d3d;
    padding: 15px 20px;
    transition: .4s;
    cursor: pointer;
}
.filter button:hover{
    border: 2px solid #3e3d3d;
    background-color: #3e3d3d;
    color: #aaa;
}
/* Portfolio */

/* Price */
.price{
    background-color: #e3e3e3;
}
.price_info{
    display: flex;
    max-width: 1200px;
    padding-bottom: 100px;
    justify-content: space-evenly;
}
.price_card{
    width: 370px;
    display: block;
    height: 550px;
    text-align: center;
    background-color: #fff;
}
.price_card .price_title{
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 700;
}
.price_logo{
    height: 25px;
    width: 25px;
    padding: 15px;
    border: 2px solid #3e3d3d;
    border-radius: 50%;
    margin-bottom: 35px;
}
.cost{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 45px;
}
.info_price p{
    line-height: 25px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.buy{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #3e3d3d;
    text-decoration: none;
    font-size: 13px;
    background-color: #fff;
    border: 2px solid #3e3d3d;
    padding: 14px 24px 15px;
    transition: .4s;
    cursor: pointer;
}
.buy:hover{
    border: 2px solid #3e3d3d;
    background-color: #3e3d3d;
    color: #aaa;
}
/* Price */

/* Client */
.client_logo{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-top: 70px;
    margin-bottom: 100px;
}
/* Client */

/* Footer */
.footer_cop{
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
footer{
    background-image: url(../img/);
}
/* Footer */